@charset "utf-8";
/* CSS Document */

ul#menu{
     background-image:url(kafei/%E5%92%96%E5%95%A1%E9%A6%96%E9%A1%B5.jpg);
	 width:1700px;
	 height:30;
	 text-align:left;
	 line-height:30px;
	 margin:0px;
	}
	
ul#menu li{
	float:left;
	text-align:center;
	visibility:visible;
	
	}
#menu li dl{
	
	
		display:none;
		position:absolute;
		}

			

ul#menu li a {
			display:block;
			height:35px;
			width:300px;
			font-family:"ËÎÌå";
			font-size:23px;
			color:#0CC;
			list-style-type:none;
			text-decoration:none;
			}
			
			


	 
.all{
	width:450px;
	height:1500px;
	border:15px double #006666;
	margin:50px auto;
	text-align:center;
	margin:40px;
	background:#9C9;
	}
	
	
	
.header{
	font-size:40px;
	font-family:"Î¢ÈíºÚÌå";
	height:50px;
	line-height:40px;
	border-bottom:6px dashed  #CC9999;
	}


#nav{
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
font-size:50px;
width:1700px;
}

.text p{
	font-size:35px;
	color:#999;
	height:30px;
	line-height:24px;
	font-weight:bold;
	}
	
#header #search {
	width:800px;
	
	margin-top:15px;

	}
	
#header #search .search_btn{
	width:78px;
	height:36px;
	background:#096;
	font-size:14px;
	font-weight:700px;
	color:#069;
	cursor:pointer;
	
	}
	
	
#header #search p{
	color:#699;
	font-size:22px;
	margin-top:6px;
   
	}
	
.image {
	height:200px;
	width:500px;}

	
.td{
	font-weight:50;
	width:50px;
	height:28px;
	}
	

	
#main{width:1100px;height:auto;}
#left{width:500px;height:600px;}

#left,#right{float:left;}	


.Left{ float:left; width:200px; height:300px;}
.right{
	 float:right; 
	 width:10px; 
	 height:30px; 
	}
#Center{ margin:0 200px; width=300; height:300px; background:blue;}